@import url(reset.css);
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather&family=Montserrat:ital,wght@0,500;1,500&display=swap');
/* Examples
font-family: "Montserrat", sans-serif;
font-family: "Golos Text", sans-serif;
font-family: "Merriweather", serif;
*/


/* Base */

body {
    width: 1366px;
    margin: 0 auto;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    color: #595653;
}

.container {
    padding: 0 72px;
}

del.red span {
    color:#313131;
}

.red {
    color: #F54932;
}
.bold {
    font-weight: 700;
}

/* Header */

.header {
    height: 700px;
    background-color: #E9DED4;
    background-image: url("../img/image_23.png"), url("../img/group_12_1366.png") ;
    background-blend-mode: color-burn, normal;
    background-repeat: no-repeat;
    background-size: contain;
}

.header_logo {
    padding-top: 26px;
    display: flex;
    column-gap: 6.35px;
    align-items: center;
}

.header_logo__horse{
    width: 91px;
    height: 31.18px;
    background-image: url("../img/logo_horse.svg");
    background-repeat: space;
    padding-right: 1.73px;
}

.header_logo__text{
    width: 147px;
    font-weight: 700;
    font-size: 16.65px;
    line-height: 1.08;
    text-transform: uppercase;
}

.header_content {
    position: relative;
    margin-top: 62px;
    width: 542px;
    color:#313131;
}

.header_content__title {
    font-family: "Merriweather", serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
}

.header_content__title p:last-child{
    text-align: center;
}

.header_content__text {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #313131;
    text-align: center;
}

.header_content__buttons {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 263px;
    height: 72px;
    border-radius: 66px;
    font-size: 16px;
    line-height: 1.3;
}
.btn_primary {
    padding: 0 49px;
    background-color: #1F1F1F;
    color:#fff;
}

.btn_primary:hover {
    background-color: #FBCE51;
    color:#000;
}

.btn_secondary {
    padding: 0 49px;
    border: 2px solid #1F1F1F;
    color: #1F1F1F;
}

.btn_secondary:hover {
    background-color: #1F1F1F;
    color: #fff;
}
.header_content__horse{
    position: relative;
    _left: (542px + 220px);
    left: 764px;
    bottom: 110px;
    transition: transform 0.5s;
}

.header_content__horse:hover{
    transform: scale(110%) rotateZ(20deg);
}

.header_content__soldier {
    position:absolute;
    _left:542+624px;
    left:1166px;
    bottom:132px;
    transition: transform 0.5s;
}

.header_content__soldier:hover {
    transform: scale(110%) translateX(-50px);
}

/* GAME */
.game {
    margin-top: 80px;
}
.game_header, .game_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game_header__text, .game_body__text {
    font-family: "Merriweather", serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #313131;
    width: 764px;
}
.game_header_img {
    width: 394px;
}
.game_body {
    margin-top: 64px;
    align-items: top;
    column-gap: 44px;
    position: relative;
}

.bg_image {
    position: absolute;
    left: -27.5px;
    top:-20px;
    height: 528px;
    width: 609px;
    background-image: url('../img/image_24.png'), url('../img/img_4_body.png');
    background-blend-mode: color-burn, normal;
    background-color: #fff;
    background-repeat: space;

}
.game_body__content {
    width: 704px;
    z-index: 2;
}

.table {
    margin-top: 60px;
    width: 100%;
    border-spacing: 0px;
    font-size: 20px;
    line-height: 1.2;
    color:#313131;
}
.td {
    width: 306px;
    padding: 0 16px 16px 0;
    border-right: 2px solid #D0D0D0;
}

.th {
    width: 398px;
    padding: 0 0 16px 16px;
    font-weight: 600;
}
.table tr:not(:last-child) td{
    border-bottom: 2px solid #D0D0D0;
}
.table tr:not(:first-child) .td{
    padding: 16px 16px 16px 0;
}
.table tr:not(:first-child) .th{
    padding: 16px 0 16px 16px;
}

.game_body__content > p {
    margin-top: 48px;
    font-size: 20px;
    color: #3057A2;
    font-weight: 400;
}

/* STEPS */

.steps {
    margin-top: 200px;
}

.section_header {
    font-family: "Merriweather", serif;
    font-size: 54px;
    font-weight: 400;
    text-transform: uppercase;
    width: 806px;
    line-height: 1.2;
    color: #313131;
}
.small_header {
    display: inline-block;
    font-size: 20px;
    font-family: "Golos Text", sans-serif;
    text-transform: none;
    width: 280px;
    color: #3057A2;
}
.steps_grid {
    display: grid;
    grid-template-columns: repeat(3, 394px);
    grid-template-rows: repeat(2, 112px) 136px;
    gap: 20px;
    margin-top: 54px;
}
.grid_item {
    background-image: url('../img/bg_4_grid.png');
    background-color: antiquewhite;
    display: flex;
    column-gap: 16px;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
}

.grid_item3 {
    grid-row: span 2;
}
.grid_item7 {
    grid-column: span 2;
    position: relative;
}
.grid_item__num {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 4px;
    background-color: #fff;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    
}
.grid_item__text {
    padding-top: 20px;
    width: 302px;
    font-weight: 500;
    line-height: 1.2;
}

.grid_item7 .grid_item__text {
    width: 446px;
}
.steps_airplan {
    position:absolute;
    left:470px;
    bottom:0;
}

/* MEMBERS */
.members {
    margin-top: 200px;
    margin-bottom: 140px;
}

.members_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member_turn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 14px;
}

.btn_turn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #313131;
    text-align: center;
}

.member_count {
    font-size: 16px;
    line-height: 1.2;
    color: #313131;
}

/*.member_count__num {
    
}*/

.member_count__result {
    opacity: 0.6;
}


.btn_turn:hover {
    background-color: #FBCE51;
}

.btn_disabled {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #D6D6D6;
    pointer-events: none;
}

.sign_left{
    margin-right: 2px;
}
.sign_right{
    margin-left: 2px;
}

.members_cards {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap ;
    overflow: hidden;
    column-gap: 20px;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    height: 462px;
}
.member_card {
    display: flex;
    flex-direction: column;
    width: 394px;
    height: 462px;
    align-items: center;
}

.member {
    width: 320px;
    height: 320px;
}
.member_name {
    margin-top: 28px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
}
.member_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}
.member_details {
    margin-top: 20px;
}

.btn_details {
    width: 113px;
    height: 35px;
    border-radius: 62px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    border: 1px solid #3057A2;
    color: #3057A2;
}
.btn_details:hover {
    color:#fff;
    background-color: #3057A2;
}

/* FOOTER */
.footer {
    font-size: 16px;
    font-weight: 400;
    padding: 40px 72px 72px;
    background-color: #E9DED4;
}

/* Runnig Line */
.running_lines {
    min-height: 60px;
    background-color: #F54932;
    display: flex;
}
.lines_wrapper{
    margin: auto;
    width: 100%;
    overflow: hidden;
}
.lines{
    white-space: nowrap;
}

.line {
    flex: 0 0 auto;
    color: #fff;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 18px 0;
    flex-wrap: nowrap;
    min-height: 60px;
}

.marquee {
    animation: scroll 15s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      /*transform: translateX(calc(-100% - 20px));*/
      transform: translateX(-2242px);
    }
  }