@import url(reset.css);
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*
.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.cormorant-infant-<uniquifier> {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/




/* Base */

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}


.container {
    padding: 0 40px;
    margin: 0 auto;
    width: 1440px;
}

.hidden {
    display: none;
}

.btn {
    padding: 20px 57px;
    height: 73px;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
}

.btn_bordered {
    border: #E1B168 2px solid;
}

.btn_white { 
    background-color: #fff;
}
.btn_orange { 
    background-color: #E1B168;
}
.btn_text_white {
    color: #fff;
}
.btn_text_black {
    color: #000;
}
.btn_text_orange {
    color: #E1B168;
}

.grey_line {
    border-top: #5C6168 1px solid;
}

.bg_about {
    background-color: #FFF8F5;
}
.bg_header {
    background-color: #292E36;
}

.row {
    display: flex;
    justify-content: space-between;
}

.header40 {
    font-family: "Cormorant Infant", serif;
    font-size: 40px;
    line-height: 56px;
}
.header36 {
    font-family: "Cormorant Infant", serif;
    font-size: 36px;
    line-height: 50.4px;
}
.header30 {
    font-family: "Cormorant Infant", serif;
    font-size: 30px;
    line-height: 40px;
}
.section_label {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 22.5px;
    text-transform: uppercase;
    border-top: #E1B168 1px solid;
    border-bottom: #E1B168 1px solid;
    padding-top: 4px;
    margin-bottom: 12px;
}

/* HEADER */

.header {
    
}
.header_logo_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 49px;
}


/* NAV */

.nav {
    
}
.nav_menu {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
}
.nav_menu__list {
    display: flex;
    gap: 60px;
}
.menu_list__item {
    /*font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;*/
    color:#fff;
}
.menu_social {
    display: flex;
    gap: 20px;
}
a:hover {
    color:#E1B168
}


/* Welcome */
.welcome_container {
    padding-left:40px;
    margin: 0 auto;
    width: 1440px;
}
.welcome {
    
}
.row_welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.welcome_row__left {
    width: 675px;
}
.welcome_header {
    font-family: "Cormorant Infant", serif;
    font-size: 100px;
    color: #fff;
    line-height: 110px;
    letter-spacing: 0.2px;
    margin-bottom: 26px;
}
.welcome_text {
    /*font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;*/
    color:#fff;
    margin-bottom: 35px;
    width: 616px;
}

.welcome_row__right {
    display: grid;
    grid-template-columns: 30px 655px 30px;
    grid-template-rows: 30px auto;
}
.grey_column {
    background-color: #fff;
    opacity: 0.1;
}
.welcome_img {
    height: 740px;
    margin: 30px 30px 0 30px;
    background-image: url("../img/welcome_img.png");
    background-repeat: no-repeat;
}
.welcome_pattern {
    
}


/* ABOUT */
.about {
    
}
.row_about {
    justify-content: flex-start;
    gap: 15px;
    padding-top: 100px;
    padding-bottom: 60px;
}
.about_elem {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 443px;
}
.elem_header {
    font-family: "Cormorant Infant", serif;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.2px;
    color: #292E36;
}
.elem_text {
    /*font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;*/
    color: #555555;
}


/* Story */
.story {
}
.row_story {
    padding-top: 84px;
    padding-bottom: 125px;
    gap:42.25px;
}
.story_frame {
    display: grid;
    grid-template-columns: 274px 274px;
    gap: 24px;
}
.story_item__header {
    margin-bottom: 15px;
}

.delic_story {
    grid-column: span 2;
}
.josefine_sign {
    grid-column: span 2;
}
.josefine_sign__text {
    text-transform: uppercase;
    color:#555555;
    margin-bottom: 20px;
}


/* Food Menu */
.foodmenu {
}
.container_food {
    margin-top: 140px;
    margin-bottom: 140px;
}
.row_foodmenu {
    margin-top: 20px;
    gap:50px;
    justify-content: flex-start;
}
.foodmenu_special {
    width: 491.25px;
}
.special_header {
    margin-bottom: 14px;
}
.special_text {
    margin-bottom: 45px;    
}
.special_img {
    margin-bottom: 60px;
}
.foodmenu_mainmenu {
    margin-top:34.34px;
    width: 818px;
}
.starters_header {
    margin-bottom: 40px;
}
.menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.menu_item__img {
    margin-right: 20px;
    flex-shrink: 0;
}
.menu_item__details {
    padding-top: 6px;
    padding-bottom: 6px;
    flex-shrink: 0;
}

.menu_item__line {
    flex: 1;
    height: 2px;
    background-color: #AAAAAA;
    margin: 67px 10px 15px 10px;
}
.menu_item__price {
    flex-shrink: 0;
    
}

/* Feedback */
.feedback {
    color:#fff;
}

.feedback_container {
    padding-top: 140px;
    padding-bottom: 120px;
}
.feedback_textblock {
    margin-bottom: 20px;
}
.feedback_textblock__header {
    text-transform: capitalize;
    margin-bottom: 8px;
}
.feedback_textblock__text {
}
.feedback_slider {
    padding-top: 40px;
}
.slider_cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.slider_card {
    display: flex;
    flex-direction: column;
    width: 544px;
    background-color: #343942;
    padding: 0 40px;
}
.card_title {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    margin-bottom: 31px;
    align-items: center;
}
.card_title__person_name {
    font-family: "Cormorant Infant", serif;
    font-size: 30px;
    line-height: 42px;
}
.card_title__person_city {
    color:#E1B168;
}
.card_line {
    height: 1px;
    background-color: #AAAAAA;
    width: 100%;
    margin-bottom: 32px;
}
.card_text {
    font-family: "Cormorant Infant", serif;
    font-size: 24px;    
    line-height: 37.5px;
    letter-spacing: 0.25px;

}



/* Picture */
.picture {
}

/* Offers */
.offers {
}

/* Popular */
.popular {
}

/* Services */
.services {
}

/* News */
.news {
}

/* Reservation */
.reservation {
}

/* Footer */
.footer {
}