@import url(reset.css);
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*
.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.cormorant-infant-<uniquifier> {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/




/* Base */

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}


.container {
    padding: 0 40px;
    margin: 0 auto;
    width: 1440px;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.btn {
    padding: 20px 57px;
    height: 73px;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
}

.btn_bordered {
    border: #E1B168 2px solid;
}

.btn_white { 
    background-color: #fff;
}
.btn_grey { 
    background-color: #fff;
    opacity: 0.4;
}
.btn_orange { 
    background-color: #E1B168;
}
.btn_text_white {
    color: #fff;
}
.btn_text_black {
    color: #000;
}
.btn_text_orange {
    color: #E1B168;
}

.grey_line {
    border-top: #5C6168 1px solid;
}

.bg_about {
    background-color: #FFF8F5;
}
.bg_header {
    background-color: #292E36;
}

.row {
    display: flex;
    justify-content: space-between;
}

.header40 {
    font-family: "Cormorant Infant", serif;
    font-size: 40px;
    line-height: 56px;
    padding-top: 12px;
    padding-bottom: 8px;
}
.header36 {
    font-family: "Cormorant Infant", serif;
    font-size: 36px;
    line-height: 50.4px;
}
.header30 {
    font-family: "Cormorant Infant", serif;
    font-size: 30px;
    line-height: 40px;
}
.section_label {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 22.5px;
    text-transform: uppercase;
    /*border-top: #E1B168 1px solid;
    border-bottom: #E1B168 1px solid;*/
    padding-top: 4px;
    margin-bottom: 12px;
}
.border_orange {
    border-top: #E1B168 1px solid;
    border-bottom: #E1B168 1px solid;
}
.border_black {
    border-top: #292E36 1px solid;
    border-bottom: #292E36 1px solid;
}

/* HEADER */

.header {
    
}
.header_logo_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 49px;
}


/* NAV */

.nav {
    
}
.nav_menu {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
}
.nav_menu__list {
    display: flex;
    gap: 60px;
}
.menu_list__item {
    /*font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;*/
    color:#fff;
}
.menu_social {
    display: flex;
    gap: 20px;
}
a:hover {
    color:#E1B168
}


/* Welcome */
.welcome_container {
    padding-left:40px;
    margin: 0 auto;
    width: 1440px;
}
.welcome {
    
}
.row_welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.welcome_row__left {
    width: 675px;
}
.welcome_header {
    font-family: "Cormorant Infant", serif;
    font-size: 100px;
    color: #fff;
    line-height: 110px;
    letter-spacing: 0.2px;
    margin-bottom: 26px;
}
.welcome_text {
    /*font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;*/
    color:#fff;
    margin-bottom: 35px;
    width: 616px;
}

.welcome_row__right {
    display: grid;
    grid-template-columns: 30px 655px 30px;
    grid-template-rows: 30px auto;
}
.grey_column {
    background-color: #fff;
    opacity: 0.1;
}
.welcome_img {
    height: 740px;
    margin: 30px 30px 0 30px;
    background-image: url("../img/welcome_img.png");
    background-repeat: no-repeat;
}
.welcome_pattern {
    
}


/* ABOUT */
.about {
    
}
.row_about {
    justify-content: flex-start;
    gap: 15px;
    padding-top: 100px;
    padding-bottom: 60px;
}
.about_elem {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 443px;
}
.elem_header {
    font-family: "Cormorant Infant", serif;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.2px;
    color: #292E36;
}
.elem_text {
    /*font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;*/
    color: #555555;
}


/* Story */
.story {
}
.row_story {
    padding-top: 84px;
    padding-bottom: 125px;
    gap:42.25px;
}
.story_frame {
    display: grid;
    grid-template-columns: 274px 274px;
    gap: 24px;
}
.story_item__header {
    margin-bottom: 15px;
}

.delic_story {
    grid-column: span 2;
}
.josefine_sign {
    grid-column: span 2;
}
.josefine_sign__text {
    text-transform: uppercase;
    color:#555555;
    margin-bottom: 20px;
}


/* Food Menu */
.foodmenu {
}
.container_food {
    margin-top: 140px;
    margin-bottom: 140px;
}
.row_foodmenu {
    margin-top: 20px;
    gap:50px;
    justify-content: flex-start;
}
.foodmenu_special {
    width: 491.25px;
}
.special_header {
    margin-bottom: 14px;
}
.special_text {
    margin-bottom: 45px;    
}
.special_img {
    margin-bottom: 60px;
}
.foodmenu_mainmenu {
    margin-top:34.34px;
    width: 818px;
}
.starters_header {
    margin-bottom: 40px;
}
.menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.menu_item__img {
    margin-right: 20px;
    flex-shrink: 0;
}
.menu_item__details {
    padding-top: 6px;
    padding-bottom: 6px;
    flex-shrink: 0;
}

.menu_item__line {
    flex: 1;
    height: 2px;
    background-color: #AAAAAA;
    margin: 67px 10px 15px 10px;
}
.menu_item__price {
    flex-shrink: 0;
}

/* Feedback */
.feedback {
    color:#fff;
}

.feedback_container {
    padding-top: 140px;
    padding-bottom: 20px;
}

.feedback_textblock__header {
    text-transform: capitalize;
    margin-bottom: 8px;
}
.feedback_textblock__text {
    padding-bottom: 20px;
}
.feedback_slider {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin: 0 auto;
    width: 1440px;
    
}
.slider_cards {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: hidden;
}
.slider_card {
    display: flex;
    flex-direction: column;
    width: 544px;
    background-color: #343942;
    padding: 0 40px;
    flex-shrink: 0;
    
}
.card_title {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    margin-bottom: 31px;
    align-items: center;
}
.card_title__person_name {
    font-family: "Cormorant Infant", serif;
    font-size: 30px;
    line-height: 42px;
}
.card_title__person_city {
    color:#E1B168;
}
.card_line {
    height: 1px;
    background-color: #AAAAAA;
    width: 100%;
    margin-bottom: 32px;
}
.card_text {
    font-family: "Cormorant Infant", serif;
    font-size: 24px;    
    line-height: 37.5px;
    letter-spacing: 0.25px;

}
.slider_dots {
    padding-bottom: 120px;
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;    
}

/* Picture */
.picture {
}

/* Offers */
.offers {
}
.offers_top {
    padding-top: 141px;
    text-align: center;
    padding-bottom: 20px;
}
.offers_top__header {
    padding-top: 12px;
    padding-bottom: 8px;
}
.offers_bottom {
    display: flex;
    gap:30px;
    padding-bottom: 120px;
}
.offers_top__text {
    width: 813px;
    margin: 0 auto;
}
.offers_bottom__item {
    width: 665px;
    height: 409px;
}
.offers_item__left {
    background-image: url("../img/offers/blue_background.png");
}
.offers_item__right {
    background-image: url("../img/offers/grey_background.png");
}
.offers_bottom__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer_description{
    width: 278px;
}
.descr_label {
    margin-bottom: 36px;
    position:relative;
    width: 167px;
}
.descr_text {
    width: 254px;
}
.sky_baloon {
    position:relative;
    z-index: 2;
}
.sky_shadow {
    position: absolute;
    top:6px;
    left: 4px;
    z-index: 1;
}
.offer_price {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
.offer_price_only {
    font-size: 15px;
    line-height: 10.5px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
}
.offer_price_value {
    font-family: "Cormorant Infant", serif;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 0.2px;
}




/* Popular */
.popular {
}
.popular_description {
    width: 760px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.popular_slider {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 60px;
}
.popular_card {
    width: 317px;
}
.popular_card__header {
    display: flex;
    justify-content: space-between;
    border-bottom: #DCDCDC 1px solid;
    margin-bottom: 15px;
    padding: 10px 0;
}
.popular_all_dishes {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}
/* Services */
.services {
    margin-bottom: 140px;
}
.services_row {
    padding: 140px 0;
    display: flex;
    justify-content: space-between;
}
.services_row__description {
    width: 448px;
    color:#fff;
}
.services_row__slides {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.services_card {
    width: 254px;
    height: 235px;
    border: #323841 20px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.services_card__text {
    font-family: "Cormorant Infant", serif;
    font-size: 25px;
    line-height: 35px;
    color: #fff;
}

/* News */
.news {
}
.news_slider {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}
.news_description {
    width: 465px;
    margin: 0 auto 20px;
    text-align: center;
}
.news_description__text {
    padding-bottom: 20px;
}
.slider_item {
    width: 640px;
    margin: 0 15px 50px;
}
.slider_item__image {
    position: relative;
    display: inline-block;
}
.slider_item__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    pointer-events: none;
}
.slider_item__button {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
.slider_item__description {
    padding: 50px 46px 38px;
}
/*.slider_item__description p:first-child .section_label.border_orange:first-child*/
.slider_item__description .section_label:first-child {
    margin-right: 30px;;
}
.slider_item__header {
    padding-top: 25px;
    padding-bottom: 24px;
}

/* Reservation */
.reservation {
    background-image: url("../img/reserv/bg_image.jpg");
    height: 977px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.reserv_form {
    background-color: #292E36;
    opacity: 0.95;
    width: 920px;
    height: 697px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#fff;
}
.reserv_header {
    margin-top: 12px;
    margin-bottom: 38px;
}
.reserv_form__fields {
    width: 640px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
.fields_row {
    display: flex;
    justify-content: space-between;
}
.form_field {
    color: #fff;
    
    border: #858585 1px solid;
    font-size: 22px;
    padding: 0 23px;
}
.form_field_sm {
    width: 198px;
    height: 70px;
}
.form_field_lg {
    width: 307px;
    height: 70px;
}
.form_field::placeholder {
    color:#fff;
    font-size: 22px;
    line-height: 33px;
}
.reserv_button {
    width: 242px;
    height: 68px;
    padding: 0 24px;
    opacity: 1;
    
}

/* Footer */
.footer {
}
.footer_column {
    color:#fff;
}
.footer_logo_row {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.footer_logo_row__col_1{
    width: 491px;
}
.footer_logo_row__col_3{
    width: 491px;
    display: flex;
    justify-content: end;
}
    
.footer_form_row {
    margin-top: 40px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}
.footer_form_row__col_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}
.footer_form_row__col_2 div:first-child {
    width: 303px;
}
.form_field_subscribe {
    width: 456px;
    height: 68px;
}
.btn_subscribe {
    width: 208px;
    height: 68px;
    margin-left: -8px;
    padding-top: 1px;
}
.footer_form_row__col_1 {
    width: 332px;
}
.footer_form_row__col_1 p:first-child {
    margin-bottom: 33px;
}
.footer_form_row__col_3 {
    width: 332px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_form_row__col_3 p:first-child {
    margin-bottom: 33px;
}

.footer_info_row {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: #DCDCDC 1px solid;
    margin-left: -40px;
    margin-right: -40px;
    display: flex;
    justify-content: space-around;
    gap: 314px;
}
.footer_info_row__col_2 {
    display: flex;
    gap: 20px;
}